input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
}
.float-left {
    margin-left: 8rem;
}
.container {
    width: 23.5rem;
    background-color: cornflowerblue;
    border-radius: 0.5rem;
    margin: auto;
}
form {
    width: 21rem;
    background-color: black;
    color: bisque;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: auto;
}
.title {
    font-size: x-large;
}
.grid-container {
    width: auto;
    margin: 0.5rem 0.2rem;
    display: grid;
    grid-template-columns: auto auto auto;
}
.gain-loss-table {
    width: 16rem;
    background-color:black;
    color: cornsilk;
    border-radius: 0.5rem;
    border-color: cornsilk;
    border-style: solid;
    border-width: 1px;
}
a:active {
    color: cornsilk;
}
button {
    background-color: black;
    border-color: black;
    font-size: medium;
    outline: none;
    color: coral;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 9.2rem;
}
button:hover {
    background-color: coral;
    color: black;
}
button:active {
    background-color: black;
    color: coral;
}
ul {
    width:auto;
    background-color: cornflowerblue;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0.5rem 1rem;
 }
li {
    width: 18rem;
    background-color: black;
    color: cornsilk;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
.input {
    padding: 0.1rem 1rem;
    border-radius: 0.3rem;
    width: 3rem;
    border: none;
    border-width: 2px;
    font-size: medium;
}
#input-capture {
    padding: 0.1rem 0.4rem;
    border-style: solid;
    border-color: cornsilk;
    border-width: 0.5px;
    border-radius: 0.5rem;
}
#gain-capture, #loss-capture {
    padding: 0.1rem 0.4rem;
    margin-left: 0rem;
    border-style: solid;
    border-color: cornsilk;
    border-width: 0.5px;
    border-radius: 0.5rem;
}
.grid-item {
    width: 5.5rem;
    height: 1rem;
    margin: 0px 1px;
}
select {
    color: cornflowerblue;
    font-size: medium;
    border-color: black;
    border-radius: 0.5rem;
    height: 1.5rem;
}




